title{

}

body {
  background-color: #efeff5;
  width: 100%;
  length: 1000px;
  margin: 0 auto;
}

ul.navbar {
 text-decoration: none;
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
 background-color: #29293d;
 width: 100%
}

li {
 float: left;
 width: 20%;
}

li a {
 text-decoration: none;
 display: block;
 font-size: 20px;
 color: white;
 text-align: center;
 padding: 40px 16px;
 text-decoration: none;
}

li a:hover {
 text-decoration: none;
 color: white;
 text-decoration-color: white;
 background-color: #14141f;
}

ul.second-list{
  display: flex;
  flex-direction: column;
}

ol {
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
}

.social-buttons{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.btn-gmail {
  background: white;
}

.btn-facebook {
  background: white;
}

.btn-twitter {
  background: white;
}

.btn-instagram {
  background: white;
}

html {
  scroll-behavior: smooth;
}

*:target::before {
  content: '';
  display: block;
  height:      300px;
  margin-top: -300px;
  visibility: hidden;
}
