.fade {
  margin: 0px;
  padding: 0px;
  background-color: lightgreen;
  opacity: 1;
}

h1, h2, h3, h4, h5, h6 {
 font-family: "Montserrat", sans-serif;
 font-weight: 300;
 text-transform: uppercase;
}

h1 {
  font-size: 80px;
  margin-bottom: -13px;
}

ul.navbar {
 text-decoration: none;
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
 background-color: #29293d;
 width: 100%;
}

li {
 float: left;
 width: 20%;
}

li a {
 font-family: 'Montserrat', sans-serif;
 text-decoration: none;
 display: block;
 font-size: 20px;
 color: white;
 text-align: center;
 padding: 30px 16px;
 text-decoration: none;
}

li a:hover {
 text-decoration: none;
 color: white;
 text-decoration-color: white;
 background-color: #14141f;
}

ul.second-list{
  display: flex;
  flex-direction: column;
}

ol {
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
}

.social-buttons{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.btn-gmail {
  background: blue;
}

.btn-facebook {
  background: blue;
}

.btn-twitter {
  background: blue;
}

.btn-instagram {
  background: blue;
}

html {
  scroll-behavior: smooth;
}

*:target::before {
  content: '';
  display: block;
  height:      300px;
  margin-top: -300px;
  visibility: hidden;
}
