.fade {
  margin: 0px;
  padding: 0px;
  background-color: lightgreen;
  opacity: 1;
}


h1, h2, h3, h4, h5, h6, h7, h8, h9 {
 font-family: "Montserrat", sans-serif;
 font-weight: 300;
 text-transform: uppercase;
}


h2, h3, h4, h5, h6, h7, h8, h9{
  font-size: 20px;
}

img{
    padding-bottom: 20px;
    padding-top: 45px;
    margin: 0 auto;
    width: 120%;
    border-radius: 50%;
    height: 100%;
  }



div.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 80px;
  margin-bottom: -12px;
  margin-top:-100px;
}

ul.navbar {
 text-decoration: none;
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
 background-color: #29293d;
 width: 100%;
}



ul.style {
    list-style-type: none;
}



li a {
 font-family: 'Montserrat', sans-serif;
 text-decoration: none;
 display: block;
 font-size: 20px;
 color: white;
 text-align: center;
 padding: 30px 16px;
 text-decoration: none;
}

li a:hover {
 text-decoration: none;
 color: white;
 text-decoration-color: white;
 background-color: #14141f;
}

ul.second-list{
  display: flex;
  flex-direction: column;
}

ol {
  display: flex;
  flex-direction: column;
}


.social-buttons{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}


html {
  scroll-behavior: smooth;
}

*:target::before {
  content: '';
  display: block;
  height:      300px;
  margin-top: -300px;
  visibility: hidden;
}


.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}



.blockquote {
  font-family: "Montserrat", sans-serif;
}
